ul{
    height: 50px;
    display: flex;
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    background-color: #7e7e7e;
    display: flex;
    justify-content: center;

}
ul li{
    margin: auto auto;
    width: 100%;
    text-align: center;
    padding-top:15px;
    white-space:nowrap;
    height: 50px;
}
ul li:hover{
    background-color: rgb(25, 73, 73);
    transition:.5s;
}